:root {
  --mainColor: #606b56;
  --secondaryColor: #515a48;
  --borderLine: #161914;
  --mainText: #ffffff;
  --secondaryText: #eeeeee;
  --themeDotselector: #ffffff;
  --previewBg: rgba(81, 90, 72, 0.8);
  --previewShadow: #2a2f25;
  --SubmitBtn: #669966;
}
